//drag me

<div class="absolute -top-16 left-1/2 -translate-x-1/2 rotate-[-7deg] pointer-events-none z-20"><div class="handwritten-hint mb-4 text-xs sm:text-sm text-neutral-500/90 dark:text-neutral-400/90 leading-none">drag me</div><svg width="52" height="28" viewBox="0 0 52 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="text-neutral-500/80 dark:text-neutral-400/80 rotate-60 -mt-0.5"><path d="M2 3C12 2 18 8 20 13C22 18 28 22 38 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path><path d="M35 15L39 19L34 22" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg></div>


//image
<div class="absolute inset-0 rounded-[28px] p-[3px] bg-neutral-50 dark:bg-neutral-950 overflow-hidden flex items-center justify-center"><div class="absolute inset-0 bg-neutral-50/40 dark:bg-neutral-950/40"></div><span class="font-geist-sans font-medium text-neutral-400 dark:text-neutral-600 md:text-lg sm:text-base text-sm select-none relative z-10">AP</span></div>

<img alt="Ayush Pandey's profile picture" class="md:size-30 sm:size-30 size-30 rounded-[28px] relative z-10 drag-cursor" draggable="false" src="me.webp" style="opacity: 1; filter: blur(0px); clip-path: circle(100% at 50% 50%); transform: none; user-select: none; touch-action: none;">